.sr-only {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.c-white {
  color: $c-white;
}

// Level - flexbox spacer
.level {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5rem;

  > * {
    width: 50%;
    margin: 0;
  }
}

@media screen and (max-width: $screen-tablet) {
  .level {
    flex-direction: column;
      margin: 0 auto 2rem;

    > * {
      width: 100%;
    }

    > * + * {
      margin-top: 1rem;
    }
  }
}


// Button Group
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 50rem;
  margin: 0 0 0 auto;

  > * {
    margin: 0.5rem;
    width: calc(33% - 1rem);
  }
}

@media screen and (max-width: $screen-tablet) {
  .btn-group {
    flex-direction: column;

    > * {
      width: 100%;
      margin: 0;
    }

    > * + * {
      margin-top: 1rem;
    }
  }
}


// Viewport Helpers
@media screen and (min-width: $screen-md) {
  .md-only {
    display: none;
  }
}

@media screen and (max-width: $screen-md) {
  .md-off {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-off {
    display: none;
  }
}
