#markdown {
  h1 {
    @include f-heading;
  }

  h2 {
    @include f-subheading;
    margin-top: 3rem;
  }

  h3,
  h4,
  h5,
  h6 {
    @include f-small-heading;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    margin-left: 16px;
    padding-left: 16px;
    list-style: initial;
  }

  p,
  ol,
  ul {
    @include f-base;
    color: $c-darkgrey;
    font-weight: 300;

    li {
      padding: 0;

      p {
        margin: 0;
      }

      ul {
        margin: 1rem 0 0;

        > * + * {
          margin-top: 1rem;
        }
      }
    }

    > * + * {
      margin-top: 0.75rem;
    }
  }

  strong {
    color: $c-black;
    font-weight: 400;
  }

  pre {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background: $c-editor-bg;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    padding: 0.25rem;
    border-radius: 3px;
    background: $c-editor-bg;
    line-height: 1.5;
  }

  hr {
    margin: 3rem 0;
    border: 0.5px solid $c-lightgrey;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}