#markdown {
  h3 {
    @include f-heading;
  }

  h4 {
    @include f-subheading;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  h5,
  h6 {
    @include f-small-heading;
    margin-top: 1.75rem;
    margin-bottom: 0;
  }

  p,
  ol,
  ul {
    @include f-base;
    margin-top: 0.25rem;
    color: $c-darkgrey;
    font-weight: 300;

    li {
      padding: 0.5rem 0;
    }
  }

  strong {
    color: $c-black;
  }

  pre {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background: $c-editor-bg;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  hr {
    margin: 3rem 0;
    border: 0.5px solid $c-lightgrey;
  }
}