.section--footer {
  position: relative;
  padding: 1rem;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;



  &__left {
    display: flex;
    align-items: center;

    &__logo {
      width: 3rem;
      border-radius: 5px;
    }

    &__text {
      @include f-rem;
      margin: 0 0 0 1.75rem;
      color: $c-darkgrey;
      font-weight: 300;
    }
  }

  &__right {
    @include f-rem;
    display: flex;
    align-items: center;
    max-width: 28rem;
    margin: 0 0 0 1rem;
    color: $c-black;

    p {
      margin-bottom: 0.5rem;

      > a {
        position: relative;
        color: $c-blue;

        &::before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $c-blue;
          opacity: 0;
          transition: opacity $transition-speed;
          content: '';
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }

    .twitter {
      display: inline-block;
      position: relative;
      top: 0.25rem;
      margin-left: 1rem;

      > svg {
        width: 2.25rem;
      }
    }
  }
}


@media screen and (max-width: $screen-md) {
  .section--footer {
    padding: 2rem;
  }

  .footer {
    flex-direction: column;
    padding: 0;

    &__left {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &__text {
        margin-top: 1rem;
        margin-left: 0;
        text-align: center;
      }
    }

    &__right {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      margin-left: 0;

      .twitter {
        margin-left: 0;
      }
    }
  }

  .footer-abstract--left {
    display: none;
  }
}
