.list {
  margin-bottom: 4rem;

  > * + * {
    margin-top: 3.75rem;
  }

  &__item {
    position: relative;

    &::before {
      position: absolute;
      top: 0.65rem;
      left: -4rem;
      width: 2.75rem;
      height: 1px;
      background: currentcolor;
      content: '';
    }

    &__title {
      @include f-base;
      font-weight: normal;
    }

    &__body {
      @include f-base;
      font-weight: 300;
      color: $c-darkgrey;
      line-height: 1.6;
    }
  }
}


@media screen and (max-width: 767px) {
  .list {
    margin-bottom: 2rem;

    &__item::before {
      display: none;
    }

    > * + *::before {
      display: block;
      position: absolute;
      top: -2rem;
      left: 0;
      width: 100%;
      height: 1px;
      background: $c-lightgrey;
      content: '';
    }
  }
}
