.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $c-black;
  z-index: 10;

  &--open {
    display: flex;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: $c-lightgrey;
    font-size: $f-sm;
    font-family: "Chivo", sans-serif;
    font-weight: 300;
    cursor: pointer;
    content: "close";

    &:hover {
      color: $c-blue;
      transition: color $transition-speed;
    }
  }

  &__level1 {
    //submenu section

    display: none;
    padding: 0.125rem;
    border-color: $c-blue;
    border-style: none solid solid none;
    margin: 0.125rem 0.5rem 0.5rem 0;
  }

  &__item {
    font-size: $f-base;
    color: $c-lightgrey;
    font-weight: 300;
    padding-top: 1.5rem;

    &.active {
      position: relative;
      color: $c-lightgrey;

      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -0.5rem;
        width: 65%;
        height: 1px;
        background-color: $c-lightgrey;
        content: "";
      }
    }

    &:hover {
      color: $c-blue-link;
      transition: color $transition-speed;

      &::before {
        background-color: $c-blue;
        transition: background-color $transition-speed;
      }
    }

    &__sub {
      //submenu item
      font-size: $f-base;
      color: $c-lightgrey;
      font-weight: 300;
      padding: 0.125rem;

      &:hover {
        color: $c-blue-link;
        transition: color $transition-speed;
      }
    }

    &__parent {
      //submenu parent
      font-size: $f-base;
      color: $c-lightgrey;
      font-weight: 300;
      padding-left: 0;
      padding-top: 1.5rem;
      list-style: none;
    }
  }

  > * + * {
    margin-top: 1rem;
  }
}

mobile-submenu-toggle {
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  border: none;
}

[id^="drop"]:checked + ul {
  //dropdown submenu display
  display: block;
}

mobile-submenu-toggle,
[id^="drop"] {
  //dropdown submenu hide
  display: none;
}
