.section--nav {
  padding: 1rem;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    margin: 0;
    width: 15rem;

    > a {
      display: block;

      > svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex-basis: calc(100% - 6.25rem);

    &__item {
      margin-left: 1.5rem;
      font-size: 1.125rem;
      color: $c-black;
      cursor: pointer;
      transition: color $transition-speed;

      &:hover {
        color: $c-blue;
      }

      &.active {
        position: relative;
        color: $c-blue;

        &::before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -0.5rem;
          width: 65%;
          height: 1px;
          background-color: $c-blue;
          content: '';
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    justify-content: flex-end;
    flex-basis: calc(100% - 6.25rem);

    &__item {
      margin-left: 0;
      font-size: 1.125rem;
      color: $c-black;
      cursor: pointer;
      transition: color $transition-speed;

      &:hover {
        color: $c-blue;
      }

      &.active {
        position: relative;
        color: $c-blue;

        &::before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -0.5rem;
          width: 65%;
          height: 1px;
          background-color: $c-blue;
          content: '';
        }
      }
    }
  }
}


@media screen and (max-width: $screen-tablet) {
  .section--nav {
    padding-right: 2rem;
  }
}


@media screen and (max-width: $screen-mobile) {
  .section--nav {
    padding-right: 1.25rem;
  }
}
