.statechannels {
  &__heading {
    @include f-heading;
    margin-bottom: 0.25rem;
    font-weight: normal;
  }

  &__abstract {
    @include f-base;
    margin: 2rem 0 0;
    font-weight: 300;
  }

  &__paper {
    @include f-base;
    margin: 0 0 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid $c-lightgrey;
  }

  &__faq {
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__title {
      @include f-subheading;
      margin-bottom: 0;
    }

    &__body {
      @include f-base;
      margin-top: 0.25rem;
      font-weight: 300;
      color: $c-darkgrey;
    }
  }
}
