.team-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;

  &__item {
    padding: 2rem;

    &__title {
      font-size: $f-base;
      text-align: center;
      line-height: 1;
    }

    &__body {
      max-width: 22rem;
      margin: 0 auto 2rem;
      font-size: $f-sm;
      font-weight: 300;
      color: $c-darkgrey;
      text-align: center;
      line-height: 1.7;
    }

    &__logos {
      display: flex;
      justify-content: center;
      align-items: center;

      > * {
        display: block;
        padding: 1rem;
        // max-width: 12rem;

        > * {
          display: block;
          margin: 0 auto;
          max-width: 12rem;
        }
      }

      .eth {
        padding: 1rem;
        width: 50%;
      }
    }

    &__contributors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 24rem;
      margin: 2rem auto 0;
      padding: 1rem;
      border-top: 1px dashed $c-lightgrey;

      > * {
        width: 50%;
        padding: 2rem 0;
        font-size: $f-sm;
        color: $c-darkgrey;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .team-content {
    margin-top: 2rem;

    &__item {
      grid-column: span 2;
      padding: 0;

      &__contributors {
        margin-bottom: 2rem;

        > * {
          padding: 1rem 0;
        }
      }
    }
  }
}
